@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
}

body {
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    background: transparent;
    position: fixed;
    margin: 10px;
    width: 100vw;
    color: white;
    z-index: 5;
    padding: 1rem;
}

nav h1,
i {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.nike-headline {
    font-size: 2.4rem;
}

.nike-logo {}

.wraper {
    width: 100vw;
    height: 100vh;
}

.hero-section {
    background: linear-gradient(to bottom, #3432aa 24%, #151444);
    height: 100vh;
    display: grid;
    grid-template-areas: "leftShoes midShoe rightShoes";
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
}

.center-hero-tag {
    grid-area: midShoe;
    z-index: 100;
}

.left-shoe-1 {
    width: 250px;
    height: 250px;
    position: relative;
    top: 9rem;
    grid-area: leftShoes;
    transform: rotate(60deg);
}

.left-shoe-2 {
    width: 250px;
    height: 250px;
    position: relative;
    bottom: 8rem;
    left: 2rem;
    grid-area: leftShoes;
    transform: rotate(-200deg);
}

.right-shoe-1 {
    width: 250px;
    height: 250px;
    grid-area: rightShoes;
    transform: rotate(-30deg);
}

.center-blue-shoe {
    width: 350px;
    height: 350px;
    transform: rotate(-30deg);
    position: fixed;
    left: 35%;
    bottom: 4%;
    right: 60px;
    z-index: 2;
}

.hero-tag-line {
    text-align: center;
    color: white;
    /* background-color: red; */
    font-size: 74px;
    font-weight: bolder;
    letter-spacing: 10px;
    background-image: linear-gradient(to right, #343292, #b6a7f5);
    background-clip: text;
    color: transparent;
}

.product-detail-page {
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: #151444;
}

.blue-shoe-div {
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.blue-shoe-div h1 {
    font-size: 80px;
    font-weight: 600;
    background-image: linear-gradient(to right, #343292, #b6a7f5);
    background-clip: text;
    color: transparent;
    z-index: 200;
}
.center-blue-shoeStop{
    position:absolute;
    top:135vh;
}
#mainshoes {
    width: 220px;
    height: 220px;
    transform: rotate(45deg);
}

.ri-menu-3-line {
    color: white;
    padding-right: 40px;
}

.full {
    height: 100vh;
    width: 40%;
    background-color: #2524731f;
    position: fixed;
    top: 0;
    right: -40%;
    backdrop-filter: blur(20px);
    padding: 150px 60px;
    z-index: 500;
}

.full h4 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 10px;
    color: white;
}

.full i {
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    color: black;
}

::-webkit-scrollbar {
    display: none;
}

.arrow {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.arrow i {
    font-weight: 100;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
}
.sidepage {
    height: 100vh;
    width: 100%;
    background-color: #c1121f;
    position: absolute;
    /* right: -110%; */
    opacity: 0;
}
.sidepage2 {
    height: 100vh;
    width: 100%;
    background-color: black;
    position: absolute;
    /* right: -110%; */
    opacity: 0;
}
#blackshoe {
    width: 350px;
    height: 350px;
    transform: rotate(-30deg);
    position: fixed;
    left: 34%;
    bottom: 4%;
    right: 60px;
}
.redshoe {
    width: 350px;
    height: 350px;
    transform: rotate(-30deg);
    position: fixed;
    left: 34%;
    bottom: 4%;
    right: 60px;
}
#crossarrow {
    background-color: transparent;
    color: #9796de;
}
/* section 3 code */
.section3 {
    width: 100vw;
    height: 100vh;
    padding: 3rem;
}
.card {
    /* background-color: red; */
    width: 100vw;
    height: 100vh;
    position: sticky;
    top: 0;
}

.centerfirst {
    border: 1px solid transparent;
    display: flex;
    justify-content: space-around;
}

.firstcard img {
    width: 35%;
    height: 90%;
}

.firstcard h1 {
    padding: 2rem;
    /* border: 2px solid green; */
    width: 30%;
    letter-spacing: 4px;
    line-height: 2.5rem;
}

.centersecond {
    border: 1px solid transparent;
    display: flex;

    justify-content: space-around;
}

.secondcard img {
    width: 35%;
    height: 90%;
}

.secondcard h1 {
    padding: 2rem;
    /* border: 2px solid green; */
    width: 30%;
    letter-spacing: 4px;
    line-height: 2.5rem;
}

.centerthird {
    border: 1px solid transparent;
    display: flex;
    justify-content: space-around;
}

.thirdcard img {
    width: 35%;
    height: 90%;
}

.thirdcard h1 {
    padding: 2rem;
    /* border: 2px solid green; */
    width: 30%;
    letter-spacing: 4px;
    line-height: 2.5rem;
}
.parentdiv{
    background-color: yellow;
    position: absolute;
    bottom: -500%;
    width: 100vw;
    height: 100vh;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.child{
    width: 80%;
    min-width: 80%;
    border: 1px solid black;
    height: 60%;
    display: flex;
    justify-content: space-between;
    position:relative;
    transition: all 1s;
    
}
.animate{
    transition: all 1s;
    transform: skewX(3deg);
}
.animateleft{
    transition: all 1s;
    transform: skewX(-3deg);
}
.cursor{
    width: 50px;
    height: 50px;
    background-color: white;
    position: fixed;
    border-radius: 50%;
    z-index: 1999;
    opacity: 0;
}