@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
    cursor: default;
}

body {
    overflow-x: hidden;

    background: black;
    /* background-color: rgba(5, 19, 49, 0.311); */
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin: 10px;
    width: 100vw;
    color: white;
    z-index: 50;
    padding: 1rem;
}
#menu{
    color: white;
}
nav h1,
i {
    font-size: 30px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.nike-headline {
    font-size: 2.4rem;
}

.wraper {
    width: 100vw;
    height: 100vh;
}

.hero-section {
    /*background: linear-gradient(to bottom, #3432aa 24%, #151444);*/
    height: 100vh;
    display: grid;
    grid-template-areas: "leftShoes midShoe rightShoes";
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
}

.center-hero-tag {
    grid-area: midShoe;
    position: relative;
    margin-top: 20%;
    z-index: 100;
}

.left-shoe-1 {
    width: 250px;
    height: 250px;
    position: relative;
    top: 9rem;
    grid-area: leftShoes;
    transform: rotate(60deg);
}

.left-shoe-2 {
    width: 250px;
    height: 250px;
    position: relative;
    bottom: 8rem;
    left: 2rem;
    grid-area: leftShoes;
    transform: rotate(-200deg);
}

.right-shoe-1 {
    width: 250px;
    height: 250px;
    grid-area: rightShoes;
    transform: rotate(-30deg);
}

.center-blue-shoe {
    width: 350px;
    height: 350px;
    transform: rotate(-30deg);
    z-index: 2;
}

.blue-shoe-container {
    display: flex;
    justify-content: center;
}

.hero-tag-line {
    text-align: center;
    color: white;
    /* background-color: red; */
    font-size: 74px;
    position: absolute;
    left: 10%;
    right: 10%;
    font-weight: bolder;
    letter-spacing: 10px;
    background-image: linear-gradient(to right, #343292, #b6a7f5);
    background-clip: text;
    color: transparent;
}

.product-detail-page {
    display: flex;
    height: 100vh;
    justify-content: center;
    /*background-color: #151444;*/
}

.blue-shoe-div {
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.blue-shoe-div h1 {
    font-size: 80px;
    font-weight: 600;
    background-image: linear-gradient(to right, #343292, #b6a7f5);
    background-clip: text;
    color: transparent;
    z-index: 200;
}

.center-blue-shoeStop {
    position: absolute;
    top: 135vh;
}

#mainshoes {
    width: 220px;
    height: 220px;
    transform: rotate(45deg);
}

.ri-menu-3-line {
    color: black;
    padding-right: 40px;
}

.full {
    height: 100vh;
    width: 40%;
    background-color: #2524731f;
    position: fixed;
    top: 0;
    right: -40%;
    backdrop-filter: blur(20px);
    padding: 150px 60px;
    z-index: 500;
}

.full h4 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 10px;
    color: white;
}

.full i {
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    color: black;
}

::-webkit-scrollbar {
    display: none;
}

.arrow {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.arrow i {
    font-weight: 100;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
}

.sidepage {
    height: 100vh;
    width: 100%;
    background-color: #c1121f;
    position: absolute;
    /* right: -110%; */
    opacity: 0;
}

.sidepage2 {
    height: 100vh;
    width: 100%;
    background-color: black;
    position: absolute;
    /* right: -110%; */
    opacity: 0;
}

#blackshoe {
    width: 350px;
    height: 350px;
    transform: rotate(-30deg);
    position: absolute;
    left: 34%;
    bottom: 4%;
    right: 60px;
}

.redshoe {
    width: 350px;
    height: 350px;
    transform: rotate(-30deg);
    position: absolute;
    left: 34%;
    bottom: 4%;
    right: 60px;
}

#crossarrow {
    background-color: transparent;
    color: #9796de;
}

/* section 3 code */
.section3 {
    padding: 3rem;
}

.card {
    /* background-color: red; */
    position: sticky;
    color: white;
    margin-bottom: 5rem;
    top: 14%;
}

.centerfirst {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
}

#heading {
    font-size: 3rem;
    line-height: 4rem;
}

#head {
    font-size: 3rem;
    line-height: 4rem;
}

#headingthird {
    font-size: 3rem;
    line-height: 4rem;
}

.first-video {
    width: 30vw;
    height: 70vh;
    object-fit: cover;
    border-radius: 1%;
    overflow: hidden;
}

.firstcard h1 {
    padding: 2rem;
    width: 30%;
    letter-spacing: 4px;
    line-height: 2.5rem;
}

.centersecond {
    /* border: 2px solid pink; */
    display: flex;
    justify-content: space-around;
}

.secondcard h1 {
    padding: 2rem;
    width: 30%;
    letter-spacing: 4px;
    line-height: 2.5rem;
}

.centerthird {
    border: 1px solid transparent;
    display: flex;
    justify-content: space-around;
}

.thirdcard h1 {
    padding: 2rem;
    /* border: 2px solid green; */
    width: 30%;
    letter-spacing: 4px;
    line-height: 2.5rem;
}

.parentdiv {
    /*background-color: rgba(21, 15, 35, 0.735);*/
    /*position: absolute;*/
    /*bottom: -540%;*/
    /*background-color: rgb(5, 12, 27);*/
    /*width: 100vw;*/
    /*height: 100vh;*/
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    flex-direction: column;
}

.torch {
    /* background-color: red; */
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    /* Diameter of the torch light */
    height: 200px;
    /* Diameter of the torch light */
    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.8) 0%,
            rgba(255, 255, 255, 0.5) 40%,
            rgba(0, 0, 0, 0) 60%);
    pointer-events: none;
    /* Prevent the torch div from blocking mouse events */
    transform: translate(-50%,
            -50%);
    /* Center the torch div at the cursor position */
}

.child {
    width: 70%;
    /*min-width: 80%;*/
    filter: drop-shadow(4px);
    background-color: black;
    /*backdrop-filter: blur(20px);*/
    border-radius: 1rem;
    /*overflow: hidden;*/
    /*height: 100vh;*/
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: all 1s;
    margin-top: 2rem;
}

.animate {
    transition: all 1s;
    transform: skewY(2deg);
    /* border-left: 2px solid yellow; */
    box-shadow: -10px -10px 10px -4px rgb(213, 216, 18);
}

.animate1 {
    transition: all 1s;
    /* transform: skewX(3deg); */
    transform: skewY(2deg);
    /* border-left: 2px solid yellow; */
    box-shadow: -10px -10px 10px -4px rgba(25, 234, 28, 0.986);
}

.animateleft {
    transition: all 1s;
    transform: skewY(-2deg);
    /* box-shadow: 0px 0px 10px green; */
    box-shadow: 10px 10px 10px -4px rgb(18, 180, 208);
}

.animateleft1 {
    transition: all 1s;
    transform: skewY(-2deg);
    /* box-shadow: 0px 0px 10px green; */
    box-shadow: 10px 10px 10px -4px rgb(231, 140, 21);
}

.cursor {
    width: 100px;
    height: 100px;
    background-color: transparent;
    filter: blur(40px);
    position: fixed;
    border-radius: 50%;
    z-index: 1999;
    opacity: 0;
    /* box-shadow: 0px 0px 10px orangered; */
}


.child2 {
    width: 80%;
    min-width: 80%;
    border: 1px solid black;
    border-radius: 1rem;
    overflow: hidden;
    height: 90%;
    display: flex;
    justify-content: space-around;
    position: relative;
    transition: all 1s;
    /* margin-top: 2rem; */
}

.nike-heading {
    position: absolute;
    top: 0.1rem;
    margin-bottom: 1rem;
    left:25%;
    letter-spacing: 0.1rem;
    font-weight: 400;
    font-size: 2.5rem;
    color: white;
}

.content {
    margin-top: 3rem;
}

#firstleftdiv {
    /*backdrop-filter: blur(20px);*/
    display: flex;
    /* justify-content: center; */
    margin-top: 3rem;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#secondleftdiv{
    /*backdrop-filter: blur(20px);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.section5{
    display: grid;
    margin-top: 10rem;
    grid-template-rows: 1fr 2fr;
    padding: 3rem;
    height: 100vh;
    gap: 1rem;
    grid-template-areas: "heading" "shop";
}
.storeheading{
    color:white;
    grid-area: "heading";
    font-size: 2rem;
    letter-spacing: 0.2px;
    font-weight: bolder;
}
.storeheading h1{
    font-weight: 400;
}
.shopcard-container{
    grid-area: "shop";
    display: flex;
    flex-direction: row;
    height: 80%;
    /* background-color: red; */
}
.storecard{
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px -6px rgb(21, 207, 231);
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.mall-img{
    /* background-color:yellow; */
    width: 60%;
    height: 100%;
    overflow: hidden;
}
.mall-img img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    padding: 1rem;
    border-radius: 24px;
    overflow: hidden;
}
.text{
    /* background-color: pink; */
    width: 40%;
    padding:3rem;
    color: white;
    
}
.mall-title{
    font-weight: 400;
    color: white;
    font-family: Oswald;
    font-size: 2.4rem;
}
.mall-desc{
    /* background-color: red; */
    margin-top: 1rem;
    font-size: 1.8rem;
    line-height: 1.9rem;
  
}
.circle-container{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
    position: sticky;
    /* background-color: rgb(52, 19, 199); */
}
.circleshop{
    width: 70px;
    margin: 3rem;
    height: 110px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}
#circle1{
    margin-left: 40%;   
    filter: drop-shadow(7px 7px 23px rgb(255, 213, 0));
}
#circle2{
    filter: drop-shadow(7px 7px 23px rgb(255, 213, 0));
    margin-left: 20%;
}
#circle3{
    filter: drop-shadow(7px 7px 23px rgb(255, 213, 0));
    margin-left: 40%;
}
footer{
    width: 100vw;
    height: 40vh;
    background-color: black;
    color:white;
}