* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
nav{
  display: flex;
  justify-content: space-between;
  background-color: #151444;
  position: fixed;
  width: 100vw;
  color: white;
}
nav img{
  width: 100px;
  height: 60px;
}
nav h1 ,i{
  padding: 20px;
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
nav h1{
  letter-spacing: 5px;
}
.wraper{
  width: 100vw;
  height: 100vh;
}
.page1{
  background-color: #151444;  
  width: 100vw;
  height: 100vh;
}
.one{
  width: 200px;
  height: 200px;
  position:absolute;
  bottom: 100px;
  transform: rotate(60deg);
}
.two{
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 200px;
  right: 20px;
  transform: rotate(260deg);
}
.three{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 100px;
  transform: rotate(-30deg);
 
}
.four{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 320px;
  right: 700px;
  transform: rotate(-30deg);
  
}
.text{
  color: white;
  /* background-color: red; */
  position: absolute;
  top:250px;
  left:640px;
  font-size: 50px;
  font-family: Oswald;
  font-weight: 500;
  letter-spacing: 10px;
  z-index: 2;
}
.page2{
  height: 87vh;
  width: 100vw;
  background-color: #151444;
  
}
.air{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.air h1{
  font-size: 80px;
  font-family: Oswald;
  font-weight: 500;
  color: #343292;
  letter-spacing: 4px;
 
}
.page3{
  height: 100vh;
  width: 100vw;
  background-color: red;
}
#mainshoes{
  width: 220px;
  height: 220px;
  transform: rotate(45deg);
  
}
.ri-menu-3-line{
  color: white;
  padding-right: 60px;
  
}
.full{
  height: 100vh;
  width: 40%;
  background-color: #25247342;
  position: absolute;
  top:0;
  right: -40%;
  backdrop-filter: blur(20px);
  padding: 150px 60px;
}
.full h4 {
  font-size: 50px;
  font-weight: 400;
  font-family: Oswald;
  margin-bottom: 10px;
  color: white;
}
.full i{
  position: absolute;
  top:5%;
  right: 10%;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  color: black;
}