@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
}

body {
    overflow-x: hidden;
    background: white;
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin: 10px;
    width: 100vw;
    color: black;
    z-index: 50;
    padding: 1rem;
}

nav h1,
i {
    font-size: 30px;
    font-weight: 700;
    color: black;
}

.nike-headline {
    font-size: 2.4rem;
}

.wraper {
    width: 100vw;
    height: 100vh;
}

.hero-section {
    /*background: linear-gradient(to bottom, #3432aa 24%, #151444);*/
    height: 100vh;
    display: grid;
    grid-template-areas: "leftShoes midShoe rightShoes";
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
}

.center-hero-tag {
    grid-area: midShoe;
    position: relative;
    margin-top: 20%;
    z-index: 100;
}

.left-shoe-1 {
    width: 250px;
    height: 250px;
    position: relative;
    top: 9rem;
    grid-area: leftShoes;
    transform: rotate(60deg);
}

.left-shoe-2 {
    width: 250px;
    height: 250px;
    position: relative;
    bottom: 8rem;
    left: 2rem;
    grid-area: leftShoes;
    transform: rotate(-200deg);
}

.right-shoe-1 {
    width: 250px;
    height: 250px;
    grid-area: rightShoes;
    transform: rotate(-30deg);
}

.center-blue-shoe {
    width: 350px;
    height: 350px;
    transform: rotate(-30deg);
    z-index: 2;
}

.blue-shoe-container {
    display: flex;
    justify-content: center;
}

.hero-tag-line {
    text-align: center;
    color: white;
    /* background-color: red; */
    font-size: 74px;
    position: absolute;
    left: 10%;
    right: 10%;
    font-weight: bolder;
    letter-spacing: 10px;
    background-image: linear-gradient(to right, #343292, #b6a7f5);
    background-clip: text;
    color: transparent;
}

.product-detail-page {
    display: flex;
    height: 100vh;
    justify-content: center;
    /*background-color: #151444;*/
}

.blue-shoe-div {
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.blue-shoe-div h1 {
    font-size: 80px;
    font-weight: 600;
    background-image: linear-gradient(to right, #343292, #b6a7f5);
    background-clip: text;
    color: transparent;
    z-index: 200;
}

.center-blue-shoeStop {
    position: absolute;
    top: 135vh;
}

#mainshoes {
    width: 220px;
    height: 220px;
    transform: rotate(45deg);
}

.ri-menu-3-line {
    color: black;
    padding-right: 40px;
}

.full {
    height: 100vh;
    width: 40%;
    background-color: #2524731f;
    position: fixed;
    top: 0;
    right: -40%;
    backdrop-filter: blur(20px);
    padding: 150px 60px;
    z-index: 500;
}

.full h4 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 10px;
    color: white;
}

.full i {
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    color: black;
}

::-webkit-scrollbar {
    display: none;
}

.arrow {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.arrow i {
    font-weight: 100;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
}

.sidepage {
    height: 100vh;
    width: 100%;
    background-color: #c1121f;
    position: absolute;
    /* right: -110%; */
    opacity: 0;
}

.sidepage2 {
    height: 100vh;
    width: 100%;
    background-color: black;
    position: absolute;
    /* right: -110%; */
    opacity: 0;
}

#blackshoe {
    width: 350px;
    height: 350px;
    transform: rotate(-30deg);
    position: fixed;
    left: 34%;
    bottom: 4%;
    right: 60px;
}

.redshoe {
    width: 350px;
    height: 350px;
    transform: rotate(-30deg);
    position: fixed;
    left: 34%;
    bottom: 4%;
    right: 60px;
}

#crossarrow {
    background-color: transparent;
    color: #9796de;
}

/* section 3 code */
.section3 {
    padding: 3rem;
    position: relative;
}

.card {
    /* background-color: red; */
    width: 100vw;
    height: 100vh;
    position: sticky;
}

/*.centerfirst {*/
/*    border: 1px solid transparent;*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*}*/
/**/
/*.firstcard img {*/
/*    width: 35%;*/
/*    height: 90%;*/
/*}*/
/**/
/*.firstcard h1 {*/
/*    padding: 2rem;*/
/*    /* border: 2px solid green; */
*/
/*    width: 30%;*/
/*    letter-spacing: 4px;*/
/*    line-height: 2.5rem;*/
/*}*/

.centersecond {
    top: 0;
}

.centerfirst {
    border: 1px solid transparent;
    display: flex;
    justify-content: space-around;
}

.firstcard img {
    width: 35%;
    height: 90%;
}

.firstcard h1 {
    padding: 2rem;
    /* border: 2px solid green; */
    width: 30%;
    letter-spacing: 4px;
    line-height: 2.5rem;
}

.centersecond {
    border: 1px solid transparent;
    display: flex;

    justify-content: space-around;
}

.secondcard img {
    width: 35%;
    height: 90%;
}

.secondcard h1 {
    padding: 2rem;
    /* border: 2px solid green; */
    width: 30%;
    letter-spacing: 4px;
    line-height: 2.5rem;
}

.centerthird {
    border: 1px solid transparent;
    display: flex;
    justify-content: space-around;
}

.thirdcard img {
    width: 35%;
    height: 90%;
}

.thirdcard h1 {
    padding: 2rem;
    /* border: 2px solid green; */
    width: 30%;
    letter-spacing: 4px;
    line-height: 2.5rem;
}

.parentdiv {
    background-color: rgba(21, 15, 35, 0.735);
    position: absolute;
    bottom: -540%;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.child {
    width: 80%;
    min-width: 80%;
    border: 1px solid black;
    border-radius: 1rem;
    overflow: hidden;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    transition: all 1s;
    margin-top: 2rem;
}

.animate {
    transition: all 1s;
    transform: skewY(2deg);
    /* border-left: 2px solid yellow; */
    box-shadow: -10px -10px 10px -5px rgba(194, 197, 39, 0.879);
}

.animate1 {
    transition: all 1s;
    /* transform: skewX(3deg); */
    transform: skewY(2deg);
    /* border-left: 2px solid yellow; */
    box-shadow: -10px -10px 10px -5px rgba(228, 141, 27, 0.986);
}

.animateleft {
    transition: all 1s;
    transform: skewY(-2deg);
    /* box-shadow: 0px 0px 10px green; */
    box-shadow: 10px 10px 10px -5px rgba(194, 197, 39, 0.879);
}

.animateleft1 {
    transition: all 1s;
    transform: skewY(-2deg);
    /* box-shadow: 0px 0px 10px green; */
    box-shadow: 10px 10px 10px -5px rgba(228, 141, 27, 0.986);
}

.cursor {
    width: 100px;
    height: 100px;
    background-color: transparent;
    filter: blur(40px);
    position: fixed;
    border-radius: 50%;
    z-index: 1999;
    opacity: 0;
    /* box-shadow: 0px 0px 10px orangered; */
}

.newparent {
    /* background-color: rgba(134, 117, 172, 0.735); */
    position: absolute;
    /* bottom: -530%; */
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.centerthird {
    .child2 {
        width: 80%;
        min-width: 80%;
        border: 1px solid black;
        border-radius: 1rem;
        overflow: hidden;
        height: 90%;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        transition: all 1s;
        /* margin-top: 2rem; */
    }
}

.section4 {
    background-color: rgba(105, 61, 209, 0.735);
    height: 100vh;
    width: 100vw;
    position: relative;
    bottom: -340%;
    padding: 1px;
}

.content {
    margin-top: 3rem;
}
