@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
}

body {
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    background: transparent;
    position: fixed;
    margin: 10px;
    width: 100vw;
    color: white;
}

nav h1,
i {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.nike-headline {
    font-size: 2.4rem;
}

.nike-logo {}

.wraper {
    width: 100vw;
    height: 100vh;
}

.hero-section {
    background-color: #151444;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: "leftShoes midShoe rightShoes";
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
}

.center-hero-tag {
    grid-area: midShoe;
}

.left-shoe-1 {
    width: 200px;
    height: 200px;
    position: relative;
    top: 7rem;
    grid-area: leftShoes;
    transform: rotate(60deg);
}

.left-shoe-2 {
    width: 200px;
    height: 200px;
    grid-area: leftShoes;
    transform: rotate(260deg);
}

.right-shoe-1 {
    width: 200px;
    height: 200px;
    grid-area: rightShoes;
    transform: rotate(-30deg);
}

.center-blue-shoe {
    width: 200px;
    height: 200px;
    object-fit: cover;
    position: relative;
    transform: rotate(-30deg);
    z-index: 2;
}

.hero-tag-line {
    position: absolute;
    top: 50%;
    bottom: 50%;
    color: white;
    /* background-color: red; */
    font-size: 74px;
    font-weight: bolder;
    z-index: 2;
}

.page2 {
    height: 87vh;
    width: 100vw;
    background-color: #151444;
}

.air {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.air h1 {
    font-size: 80px;
    /*font-family: Oswald;*/
    font-weight: 500;
    color: #343292;
    letter-spacing: 4px;
}

.page3 {
    height: 100vh;
    width: 100vw;
    background-color: red;
}

#mainshoes {
    width: 220px;
    height: 220px;
    transform: rotate(45deg);
}

.ri-menu-3-line {
    color: white;
    padding-right: 40px;
}

.full {
    height: 100vh;
    width: 40%;
    background-color: #25247342;
    position: absolute;
    top: 0;
    right: -40%;
    backdrop-filter: blur(20px);
    padding: 150px 60px;
}

.full h4 {
    font-size: 50px;
    font-weight: 400;
    /*font-family: Oswald;*/
    margin-bottom: 10px;
    color: white;
}

.full i {
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    color: black;
}
